/* mixins */

@import "_typography";
@import "_variables";

/* 1. responsive breakoff points */

// phones
@mixin mobile {
    @media (max-width: #{$app-width}) {
        @content;
    }
}

// anything above phone resolution (e.g. tablet/laptop/desktop)
@mixin large {
    @media (min-width: #{$app-width}) {
        @content;
    }
}

// anything that matches the ideal app width
@mixin ideal {
    @media (min-width: #{$ideal-width}) {
        @content;
    }
}

@mixin noSelect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@mixin noEvents {
    pointer-events: none;
}

@mixin boxSize {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box; /* Firefox, other Gecko */
          box-sizing: border-box;
}

@mixin textOverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin flex {
    display: -webkit-flex;
    display: flex;
}

@mixin inlineFlex {
    display: -webkit-inline-flex;
    display: inline-flex;
}

@mixin animate($property: all, $delay: .5s) {
    transition: $property $delay cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

@mixin verticalScrollOnMobile() {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden; /* we should never want this in modal windows */
}

@mixin button() {
    cursor: pointer;
    display: inline-block;
    border: none;
    border-radius: $spacing-small;
    padding: $spacing-small $spacing-medium;
    background-color: $color-2;
    color: $color-1;
    font-size: 90%;
    font-weight: bold;
    margin: 0 $spacing-small $spacing-small 0;
    @include noSelect();

    &:hover {
        background-color: $color-3;
        color: $color-1;
    }
}

@mixin roundButton() {
    @include button();
    border: 2px solid $color-1;

    &:hover {
        background-color: $color-1;
        color: $color-2;
    }
}

@mixin overlay( $width, $height ) {
    position: fixed;
    z-index: $z-index-overlay;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-5;
    color: $color-text;
    padding: $spacing-medium;
    @include boxSize();

    @media screen and (min-width: $width) and (min-height: $height) {
        width: $width;
        height: $height;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: $spacing-medium;
        border: 2px solid #000;
        padding: $spacing-medium;
    }

    .close-button {
        @include closeButton();
    }

    .content {
        padding-top: $spacing-large + $spacing-medium;
    }
}

@mixin closeButton() {
    cursor: pointer;
    position: absolute;
    top: $spacing-medium;
    right: $spacing-medium;
    border: none;
    background: none;
    color: $color-2;
}

@mixin scrollablePanel( $additionalPadding: 0 ) {
    $padding: #{$menu-height + $footer-height + $additionalPadding};
    height: calc(100vh - #{$padding});
    overflow-y: auto;
    box-sizing: border-box;

    @include large() {
        $padding: #{$menu-height + $app-ideal-top-margin + $footer-height + $additionalPadding};
        height: calc(100vh - #{$padding});

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-corner {
            background-color: $color-1;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: $spacing-medium;
            background-color: $color-1;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: $spacing-medium;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            background-color: $color-2;
        }
    }

    @include mobile() {
        $mobilePadding: #{$menu-height + $additionalPadding}; // there's no footer on mobile
        height: calc(100vh - #{$mobilePadding});
    }
}

@mixin hiddenOnMobile() {
    .close-button {
        display: none; // mobile view only
    }

    @include mobile() {
        display: none;

        &.expanded {
            @include overlay( $mobile-width, $mobile-width );
            margin-top: #{$menu-height};
            display: block;

            .close-button {
                display: block;
                top: $spacing-large;
                right: #{$spacing-medium + $spacing-small};
                color: $color-1;

                &.secondary {
                    color: $color-2;
                    top: #{$spacing-medium + $spacing-small};
                    right: $spacing-medium;
                }
            }
        }
    }
}
