/* layout variables */

$app-width: 960px;
$tablet-portrait-width: 768px;
$mobile-width: 685px; // the threshold below which we start to use the mobile view

// spacings
$spacing-xsmall: 4px;
$spacing-small: 7px;
$spacing-medium: 14px;
$spacing-large: 28px;
$spacing-xlarge: 56px;

// components
$menu-height: 70px;
$toggle-width: 55px;
$footer-height: 55px;
$scale-selector-width: 325px;

$ideal-width: #{$app-width + $scale-selector-width};
$app-ideal-top-margin: $spacing-medium;

// colors
$color-1: #192132;//#FFFCF9; // background
$color-2: #f6c43f; // root notes / menu active states
$color-3: #5dbcef; // notes
$color-4: #433E0E; // active state buttons
$color-5: #232b3c; // header / dark colours
$color-6: #dc607d;
$color-text: #63768D;
$color-strings: #F4D06F;

// view stacking
$z-index-header: 1;
$z-index-menu: 2;
$z-index-overlay: 3;
