/* layout variables */

$app-width: 960px;
$tablet-portrait-width: 768px;
$mobile-width: 685px; // the threshold below which we start to use the mobile view

// components
$menu-height: 70px;
$toggle-width: 55px;

// spacings
$spacing-xsmall: 4px;
$spacing-small: 7px;
$spacing-medium: 14px;
$spacing-large: 28px;
$spacing-xlarge: 56px;

// colors
$color-1: #F0EFF4; // anti-flash white
$color-2: #832161; // russian violet
$color-3: #3D2645; // dark raspberry
$color-4: #D6C3C9; //
$color-5: #000000; // registration black

// view stacking
$z-index-header: 1;
$z-index-menu: 2;
$z-index-overlay: 3;
