@use "@/styles/_mixins";
@use "@/styles/_variables";
@use "@/styles/_typography";
@use "@/styles/layout";

#app {
    display: initial;
}

.ui.search.selection.dropdown {
    &.search-only {
        .icon.dropdown {
            display: none;
        }

        &.active .icon.dropdown {
            display: initial;
        }
    }
}

.tuning-spork-checkbox {
    margin-right: variables.$spacing-medium;
}

.tuning-spork-label {
    cursor: pointer !important;
    color: variables.$color-text !important;
}

.button {
    @include mixins.button();
}

.explanation {
    @include mixins.ideal() {
        max-width: 600px;
        margin: variables.$spacing-medium 0 variables.$spacing-large;
    }
}
